################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Battleships - Michelle Zhang/.vs/Battleships - Michelle Zhang/v16/Browse.VC.opendb
